.popup__container {
    min-width: 282px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .popup__container {
        min-width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .popup__container {
        min-width: 430px;
    }
}